<!DOCTYPE html>

<html lang-"en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/style.css">
  {{!--
  <link rel="stylesheet" href="/css/output.css"> --}}
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet" />
  <title>PhillyGrove</title>
</head>

<body class="bg-gray-200">
  <div class="flex flex-col min-h-screen ">
    <header class="bg-gradient-to-r from-green-500 to-blue-600 text-white p-6">
      <h1 class="text-5xl font-semibold">
        <a href="/">PhillyGrove</a>
      </h1>
      <nav class=" static top-0 right-0">
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a>
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <button class="block rounded-md"><a href="/login">Login</a></button>
        <button class="block rounded-md"><a href="/signup">Sign-up</a></button>
        {{/if}}
      </nav>
    </header>
    <main class="flex-grow container mx-auto">
      {{{ body }}}
    </main>

    <footer class="bg-gradient-to-r from-blue-600 to-green-500 text-white p-6 text-white p-6">
      <div class="container mx-auto text-center">
        &copy; 2023 PhillyGrove. All rights reserved.
      </div>
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>