<a href="/dashboard" class="go-back"> &larr; Back to Dashboard</a>

<article class="new-page">
  <section class="new-form-page">
    <div class="form-heading">
      <h2>Create New Community Event</h2>
    </div>
    <div class="form-section">
      <form class="new-post-form">
        <div class="post-title-section">
          <label for="post-title">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <label for="post-location">Location</label>
          <textarea
            class="entry-field"
            id="post-location"
            name="post-location"
          ></textarea>
        </div>
        <div>
          <label for="post-date">Date</label>
          <input type="date" id="post-date" name="post-date" />
        </div>
        <div class="post-content">
          <label for="post-content">Description</label>
          <textarea
            class="entry-field"
            id="post-content"
            name="post-content"
          ></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
      </form>
    </div>
  </section>
</article>

<script src="/js/add-post.js"></script>