<section class="new-post-section">
  <button
    type="submit"
    class="btn bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
    id="new-event-form"
  >+ Create New Event</button>
</section>

{{#if events.length}}
  <section>
    <h2>Your Dashboard</h2>
    <ul>
      {{#each events as |event|}}
        <li>
          <a href="/event/{{event.id}}">{{event.title}}</a>
          <a href="/dashboard/edit/{{event.id}}" class="edit-link">Edit Event</a>
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}

<script src="/js/create-post.js"></script>