<a href="/dashboard" class="go-back"> &larr; Back to Dashboard</a>

<article class="new-page">
  <section class="edit-form-page">
    <div class="form-heading">
      <h2>
        Edit Post
      </h2>
    </div>
    <div class="form-section">
      <form class="edit-post-form">
        <div class="event-title-section">
          <label for="event-title">Title</label>
          <input
            type="text"
            name="event-title"
            id="event-title"
            value="{{event.title}}"
          />
        </div>
        <div class="event-location">
          <label for="event-location">Location</label>
          <input
            type="text"
            id="event-location"
            name="event-location"
          >{{event.location}}</input>
        </div>
        <div class="event-date">
          <label for="event-date">Date</label>
          <input
            type="date"
            id="event-date"
            name="event-date"
          >{{event.date}}</input>
        </div>
        <div class="event-description">
          <label for="event-description">Description</label>
          <textarea
            class="entry-field"
            id="event-description"
            name="event-description"
          >{{event.description}}</textarea>
        </div>
        <button type="submit">Update post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
      </form>
    </div>
  </section>
</article>

{{#if loggedIn}}
  <script src="/js/edit-post.js"></script>
  <script src="/js/delete-post.js"></script>
{{/if}}