<div>
  <div>
    <h2 class="text-2xl font-semibold">{{title}}</h2>
    <p class="text-md">Event posted by {{user.name}} </p>
    <p class="text-sm text-green-500">Date of Event: {{date_created}}</p>
    <div class="mt-4">
    <p class="font-semibold" >{{description}}</p>
    </div>
  </div>
  <div class="border-2 border-blue-200 py-2 mt-4">
    <h3 class="font-semibold" >Comments:</h3>
    {{> comments comments }}
  </div class="mb-1 mt-4" >
  {{!-- <h3 class="font-semibold mb-0 mt-4">Create a comment:</h3> --}}
  <form class="comment-form">
    <div>
      <label class="font-semibold mb-0 mt-4">Add a Comment:</label>
      <input id="comment-name" name="comment-name" />
    </div>
    <div>
      <button class="bg-blue-300" type="submit">Submit</button>
    </div>
  </form>
</div>
<script src="/js/comment.js"></script>
